.app__header {
    background-color: rgb(22, 22, 22);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: rgb(196, 181, 101);
    letter-spacing: 0.05rem;
    /* text-transform: uppercase; */
    line-height: 95px;
    font-size: 80px;
}

.app__wrapper_img img {
    width: 68%!important;
}